[defaults]
inventory           = inventory/hosts.yml
roles_path          = roles
private_key_file    = ~/.ssh/id_homelab
vault_password_file = .vault_pass

[privilege_escalation]
become_ask_pass     = true